/////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 3rem;
}

/////////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        margin-right: -3.5rem;
        width: 90%;

        transition: all 0.2s;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;

        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}


/////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    //background-color: greenyellow;
    display: flex;
    align-items: center;
    align-self: stretch;

    &>* {
        padding: 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-grey-light-2);
        }
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 0.9rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #ffffff;
        position: absolute;
        top: 20%;
        right: 10%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

/////////////////////////////////////////////
// SIDE NAV

.side-nav {
    font-size: 1.4rem;
    list-style: none;

    &__item {
        position: relative;
        

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            //transform-origin: center;
            transition: transform 0.2s, 
                        width 0.4s cubic-bezier(1,0,0,1) 0.2s,
                        background-color 0.1s;
            
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;            
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }

    &__link:link,
    &__link:visited,{
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;        
    }    
}

/////////////////////////////////////////////
// LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

/////////////////////////////////////////////
// GALLERY

.gallery {
    display: flex;

    &__item {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    &__photo {
        width: 100%;
        display: block;
        transition: all 0.6s;
        

        &:hover {
            transform: scale(1.1);
        }
    }
}

/////////////////////////////////////////////
// OVERVIEW

.overview {
    display: flex;
    align-items: center;    
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {        
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary);
    }  

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
    
    &__icon-location {
        margin-right: 0.5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #ffffff;
        margin-left: 3rem;
        padding: 0 2.35rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        &-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;
        }

        &-count {
            font-size: 0.9rem;
            text-transform: uppercase;
        }
    }
}

/////////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    

    & span {
        margin-left: 3px;
        transition: margin-left 0.2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

/////////////////////////////////////////////
// PARAGRAPH
.paragraph {
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

/////////////////////////////////////////////
// LIST
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: inline-block;
            height: 1.5rem;
            width: 1.5rem;            
            margin-right: 0.7rem;
            /*
            background-image: url(../img/chevron-right.svg);
            background-size: cover;
            */

            background-color: var(--color-primary);
            -webkit-mask-image: url(../img/chevron-right.svg);
            mask-image: url(../img/chevron-right.svg);
            -webkit-mask-size: cover;
            mask-size:cover;
        }
    }
}

/////////////////////////////////////////////
// RECOMMEND
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
       
    }

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border: 3px solid #fff;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

/////////////////////////////////////////////
// REVIEWS
.review {    
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    position: relative;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    &__text {
        margin-bottom: 2rem;
        position: relative;
        z-index: 2;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-gray-dark-3);
    }

    &__rating {
        font-size: 2.2rem;
        font-weight: 300;
        color: var(--color-primary);
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -8.5rem;
        left: -0.8rem;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1; 
    }
}

/////////////////////////////////////////////
// CALL TO ACTION
.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}

/////////////////////////////////////////////
// BTN

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    padding: 1rem 2.5rem;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;

    & > * {
        display: inline-block;        
        height: 100%;
        width: 100%;
        transition: all 0.2s;
    }

    &__visible {
        padding: 2rem 7rem;
    }

    &__invisible {
        display: inline-block;
        padding: 3rem 0;        
        position: absolute;       
        left: 0;
        top: -100%;        
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__invisible {
        top: 0;
    }

    &:hover &__visible {
        transform: translateY(100%);
    }
    
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}